<div class="display-table">
            <div class="display-table-row">
                <div class="display-table-cell">

                    <header id="header">
                        <div class="container">
                            <h1 ng-show="language == 'es'">Noticias</h1>
                            <h1 ng-show="language == 'en'">News<h1>
                            <h1 ng-show="language == 'it'">Notizie</h1>
                        </div>
                    </header>
                    <div class="header-tab">
                        <a ui-sref="news({lang: language})" class="btn ">
                            <i class="icon-newspaper"></i><br>
                            <span ng-show="language == 'es'">Todas</span>
                    <span ng-show="language == 'en'">All</span>
                    <span ng-show="language == 'it'">Tutte</span>
                        </a>
                        <a ui-sref="favorite_news({lang: language})" class="btn active">
                            <i class="icon-preferidos"></i><br>
                            <span ng-show="language == 'es'">Favoritas</span>
                            <span ng-show="language == 'en'">Favorites</span>
                            <span ng-show="language == 'it'">Preferite</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="display-table-row wrapper-content">
                <div class="display-table-cell vertical_top">
                    <img src="assets/icons/loading-dark.svg" class="loading loading-js" width="42" />
                    <main id="main">

                            <div class="listnews news-js">


                                <div ng-show="result.length == 0" class="wrapper-alert">
                                    <br>
                                    <div ng-show="language == 'es'" class="alert alert-info">No hay noticias <strong>preferidas</strong>.</div>
    <div ng-show="language == 'en'" class="alert alert-info">No <strong>favorite</strong> news.</div>
    <div ng-show="language == 'it'" class="alert alert-info">Nessuna notizia <strong>preferita</strong>.</div>
                                </div>
                                <a ui-sref="favorite_new({lang: language, id:item.id})" class="listnews-item" ng-repeat="item in result">
                                     <span class="date">
                                         <span class="month">
                                             <date ng-bind="item.date_day"></date> <br>
                                             <date ng-bind="item.date_mon"></date>
                                         </span>
                                         <span class="year" ng-bind="item.date_yea"></span>
                                     </span>
                                     <h3 ng-bind="item.title"></h3>
                                     <p ng-bind="item.excerpt"></p>
                                     <img ng-src="{{item.image_fullpath}}" class="img" />
                                </a>
                            </div>
                    </main>
                </div>
            </div>
            <div class="display-table-row">
                <div class="display-table-cell">
                    <footer id="footer">
                        <ul class="footer-menu">
                            <li>
	                        <a ui-sref="messages.year({lang: language})" class="btn ">
	                            <i class="icon-mensajes"></i>
	                        </a>
		                    </li><!--
		                    --><li>
		                        <a ui-sref="news({lang: language})" class="btn active">
		                            <i class="icon-noticias"></i>
		                        </a>
		                    </li><!--
		                    --><li>
		                        <a ui-sref="histories({lang: language})" class="btn ">
		                            <i class="icon-historia"></i>
		                        </a>
		                    </li><!--
		                    --><li>
		                        <a ui-sref="places.place({lang: language})" class="btn">
		                            <i class="icon-lugares"></i>
		                        </a>
		                    </li><!--
                            --><li class="wrapper-languages wrapper-languages-js">
                                <a href="javascript:void(0);" class="btn">
                                    <i class="icon-historia2"></i>
                                </a>
                                <ul class="languages languages-js " dropdown-languages set-current-language-reload>
		                            <li class="spain">
		                                <a href="javascript:void(0);" class="btn-language-js"
                                        ng-click="showLanguage($event)"
                                        data-lang="es"><img src="assets/icons/flag_spain.jpg"></a>
		                            </li>
		                            <li class="england">
		                                <a href="javascript:void(0);"
                                        ng-click="showLanguage($event)"
                                        class="btn-language-js" data-lang="en"><img src="assets/icons/flag_england.jpg"></a>
		                            </li>
		                            <li class="france">
		                                <a href="javascript:void(0);" ng-click="showLanguage($event)" class="btn-language-js" data-lang="it"><img src="assets/icons/flag_italy.jpg"></a>
		                            </li>
		                        </ul>
                            </li>
                        </ul>
                    </footer>
                </div>
            </div>
        </div>
