<div id="message-{{id}}" class="list-item" ng-repeat="item in result | limitTo: limitTotal track by item.id">
   <a ui-sref="message({lang: language, id: item.id})">
      <span class="date">
         <span class="month">
            <date ng-bind="item.date_day"></date> <br>
            <date ng-bind="item.date_mon"></date>
         </span>
         <span class="year">
            <date ng-bind="item.date_yea"></date>
         </span>
      </span>
      <h3 ng-bind="item.title"></h3>
      <!-- <small ng-bind="item.date"></small> -->
      <p ng-bind="item.excerpt"></p>
   </a>
</div>
<div class="spinner" ng-class="{active: $parent.isLoading == 'true'}">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
