@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?iz1f6l');
    src:    url('../fonts/icomoon.eot?iz1f6l#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?iz1f6l') format('truetype'),
        url('../fonts/icomoon.woff?iz1f6l') format('woff'),
        url('../fonts/icomoon.svg?iz1f6l#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
    content: "\e902";
}
.icon-envelope:before {
    content: "\e900";
}
.icon-historia:before {
    content: "\e903";
}
.icon-historia2:before {
    content: "\e904";
}
.icon-lugares:before {
    content: "\e905";
}
.icon-mensajes:before {
    content: "\e906";
}
.icon-noticias:before {
    content: "\e907";
}
.icon-personajes:before {
    content: "\e908";
}
.icon-preferidos:before {
    content: "\e909";
}
.icon-newspaper:before {
    content: "\e901";
}
.icon-price-tag:before {
    content: "\e90a";
}
.icon-heart:before {
    content: "\e90b";
}
.icon-arrow-left2:before {
    content: "\e90c";
}
.icon-share2:before {
    content: "\e90d";
}

